* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-size: 62.5%;
}

input {
  all: unset;
}

textarea {
  border: none;
  overflow: auto;
  outline: none;
  box-shadow: none;
  resize: none; /*remove the resize handle on the bottom right*/
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

#root {
  max-width: 1280px;
  margin: 0 auto;
}
#root > * {
  padding: 1rem 3rem 1rem 3rem;
}

h2,
h3,
h4,
a,
p {
  font-family: "Poppins", sans-serif;
}

.section-header {
  font-family: "Poppins", sans-serif;
  font-size: clamp(1.2rem, 1.5vw, 1.4rem);
  margin-bottom: -5rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  position: sticky;
  font-family: "Pattaya", sans-serif;
  font-size: clamp(4rem, 5vw, 6rem);
  background-color: rgb(255, 255, 255);
}
header h1 {
  color: #47ec7e;
  letter-spacing: 0.4rem;
}
header > img {
  cursor: pointer;
}

.weather-section > h2 {
  margin-bottom: 0.5rem;
}
.weather-section .weather-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: "Poppins", sans-serif;
}
.weather-section .weather-container > .weather-card-container {
  width: 12.5rem;
  height: 7.5rem;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)), linear-gradient(90deg, #4dfecc, #bd53ee, #fcb045);
  background-origin: border-box;
  background-clip: content-box, border-box;
  border: double 1px transparent;
  padding: 0.1rem;
  margin: 1rem;
}
.weather-section .weather-container > .weather-card-container > .card-info {
  font-size: 1rem;
  font-weight: 400;
}
.weather-section .weather-container > .weather-card-container > .card-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.weather-section .weather-container > .weather-card-container > .card-row > .temperature {
  font-size: 2rem;
}
.weather-section .weather-container > .weather-card-container > .card-row > .card-img {
  height: 3rem;
  width: 3rem;
}
.weather-section .weather-container > .dark {
  background-color: rgb(45, 45, 45);
  background-image: linear-gradient(rgb(45, 45, 45), rgb(45, 45, 45)), linear-gradient(90deg, #4dfecc, #bd53ee, #fcb045);
  background-origin: border-box;
  background-clip: content-box, border-box;
  border: double 1px transparent;
  color: white;
}

.news-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.news-wrapper > .scrolled {
  position: fixed;
  top: 0;
  margin-left: 70%;
  margin-top: 25px;
}
.news-wrapper > nav {
  width: 100%;
}
.news-wrapper > nav > a {
  color: black;
  border-radius: 7.5px;
  padding: 0.5rem;
  margin: 1rem 1rem 1rem 0rem;
  font-size: clamp(1.2rem, 1.5vw, 1.4rem);
}
.news-wrapper > nav > a:hover {
  background-color: #00aca1;
}
.news-wrapper > nav > .dark {
  background-color: rgb(52, 52, 52);
  color: white;
}
.news-wrapper .news-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 2rem;
}
.news-wrapper .news-container > .trending-headlines {
  width: 500px;
  height: 500px;
  position: sticky;
  top: 70px;
}
.news-wrapper .news-container > .trending-headlines > h2 {
  font-size: clamp(1.2rem, 2.5vw, 1.6rem);
  margin-bottom: 1rem;
}
.news-wrapper .news-container > .trending-headlines > .news-headlines {
  display: flex;
  flex-direction: column;
  font-size: 4.5rem;
}
.news-wrapper .news-container > .trending-headlines > .news-headlines > a > .headline {
  display: flex;
  margin-bottom: 2rem;
}
.news-wrapper .news-container > .trending-headlines > .news-headlines > a > .headline > h2 {
  margin-right: 0.5rem;
}
.news-wrapper .news-container > .articles-container {
  -moz-columns: 2;
       columns: 2;
  word-break: break-all;
  width: 85%;
}
.news-wrapper .news-container > .articles-container > a > .news-card {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  border-radius: 25px;
  width: 90%;
  margin: 0rem 2rem 2rem 0rem;
  -moz-column-break-inside: avoid;
       break-inside: avoid-column;
  margin-bottom: 20px;
}
.news-wrapper .news-container > .articles-container > a > .news-card > * {
  padding: 1rem;
}
.news-wrapper .news-container > .articles-container > a > .news-card > img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 0rem;
  border-radius: 25px 25px 0px 0px;
  margin-bottom: 10px;
}
.news-wrapper .news-container > .articles-container > a > .news-card > h2 {
  font-size: clamp(1.2rem, 2.5vw, 1.6rem);
}
.news-wrapper .news-container > .articles-container > a > .news-card > .space-between {
  display: flex;
  justify-content: space-between;
  font-size: clamp(1.2rem, 2.5vw, 1.6rem);
}
.news-wrapper .news-container > .articles-container > a > .news-card > div > p {
  font-size: clamp(1.2rem, 1.5vw, 1.4rem);
}
.news-wrapper .news-container > .articles-container > a > .news-card > div span > p {
  font-size: 2rem;
  background: -webkit-linear-gradient(10deg, #4dfecc, #bd53ee, #fcb045);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 1rem 0rem 1rem 0rem;
}
.news-wrapper .news-container > .articles-container > a > .news-card > div span > p > img {
  margin-left: 1rem;
}

.skeleton-weather-card-container {
  width: 12.5rem;
  height: 7.5rem;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border: 2px solid rgb(175, 175, 175);
  margin: 1rem;
}
.skeleton-weather-card-container > * {
  padding: 0.25rem;
  animation: skeletonOpacity 2s ease-in-out infinite;
}
.skeleton-weather-card-container > .card-skeleton-info {
  width: 75px;
  height: 10px;
  background-color: rgb(175, 175, 175);
}
.skeleton-weather-card-container > .card-row {
  display: flex;
}
.skeleton-weather-card-container > .card-row > .temperature-skeleton {
  width: 35px;
  height: 10px;
  background-color: rgb(175, 175, 175);
  margin: 10px 10px 0px 0px;
}
.skeleton-weather-card-container > .card-row > .img-skeleton {
  width: 30px;
  height: 30px;
  background-color: rgb(175, 175, 175);
  margin: 5px 0px 5px 0px;
}

.skeleton-article-container {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  border-radius: 25px;
  width: 350px;
  height: 475px;
  background-color: white;
  margin: 0rem 2rem 2rem 0rem;
}
.skeleton-article-container > * {
  padding: 1rem;
  margin: 1rem;
  background-color: rgb(175, 175, 175);
  animation: skeletonOpacity 2s ease-in-out infinite;
}
.skeleton-article-container > .skeleton-img {
  width: 100%;
  height: 150px;
  padding: 0rem;
  border-radius: 25px 25px 0px 0px;
  margin: 0px 0px 3rem 0px;
}
.skeleton-article-container > .skeleton-headline {
  width: 90%;
  height: 25px;
}
.skeleton-article-container > .skeleton-headline2 {
  width: 80%;
  height: 25px;
}
.skeleton-article-container > .skeleton-name-date-container {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 0rem 1.5rem 0rem;
  background-color: transparent;
}
.skeleton-article-container > .skeleton-name-date-container > .skeleton-name {
  width: 20%;
  height: 15px;
  background-color: rgb(175, 175, 175);
}
.skeleton-article-container > .skeleton-name-date-container > .skeleton-date {
  width: 20%;
  height: 15px;
  margin-right: 1.5rem;
  background-color: rgb(175, 175, 175);
}
.skeleton-article-container > .skeleton-text {
  width: 90%;
  height: 15px;
}
.skeleton-article-container > .skeleton-link {
  margin-top: 2rem;
  width: 30%;
  height: 15px;
}

.headline-skeleton {
  width: 200px;
  height: 20px;
  background-color: rgb(175, 175, 175);
  animation: skeletonOpacity 2s ease-in-out infinite;
  margin-bottom: 20px;
  border-radius: 12px;
}

.error-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}
.error-container > h2,
.error-container pre,
.error-container h3 {
  font-size: clamp(1.2rem, 2.5vw, 1.6rem);
  padding: 1rem;
}

.dark {
  background-color: rgb(45, 45, 45);
  color: white;
}

@keyframes skeletonOpacity {
  0% {
    opacity: 50%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 50%;
  }
}/*# sourceMappingURL=index.css.map */