@import "./variablemixin";
@import "./reset";

#root {
  max-width: 1280px;
  margin: 0 auto;
  // border: 2px solid red;
  > * {
    padding: 1rem 3rem 1rem 3rem;
  }
}

h2,
h3,
h4,
a,
p {
  font-family: $main-font;
}
.section-header {
  font-family: $main-font;
  font-size: $text-size;
  // text-align: center;
  margin-bottom: -5rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // padding: 3rem;
  top: 0;
  position: sticky;
  // border: 1px solid gray;
  font-family: $header-font;
  font-size: $header-size;
  background-color: rgb(255, 255, 255);

  h1 {
    color: $green;
    letter-spacing: 0.4rem;
  }
  > img {
    cursor: pointer;
  }
}

.weather-section {
  > h2 {
    margin-bottom: 0.5rem;
  }
  .weather-container {
    // border: 1px solid rgb(223, 20, 20);
    @include flexCenter(row);
    flex-wrap: wrap;
    font-family: $main-font;
    > .weather-card-container {
      width: 12.5rem;
      height: 7.5rem;
      border-radius: 25px;
      @include flexCenter(column);
      background-color: rgb(255, 255, 255);
      background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)),
        linear-gradient(90deg, #4dfecc, #bd53ee, #fcb045);
      background-origin: border-box;
      background-clip: content-box, border-box;
      border: double 1px transparent;
      padding: 0.1rem;
      margin: 1rem;
      > .card-info {
        font-size: 1rem;
        font-weight: 400;
      }
      > .card-row {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        > .temperature {
          font-size: 2rem;
          // font-weight: 600;
        }
        > .card-img {
          height: 3rem;
          width: 3rem;
        }
      }
    }
    > .dark {
      background-color: $dark-color;
      background-image: linear-gradient($dark-color, $dark-color),
        linear-gradient(90deg, #4dfecc, #bd53ee, #fcb045);
      background-origin: border-box;
      background-clip: content-box, border-box;
      border: double 1px transparent;
      color: white;
    }
  }
}

.news-wrapper {
  // border: 1px solid green;
  @include flexCenter(column);
  > .scrolled {
    position: fixed;
    top: 0;
    margin-left: 70%;
    margin-top: 25px;
  }
  > nav {
    // border: 2px solid orange;
    width: 100%;
    > a {
      color: black;
      border-radius: 7.5px;
      padding: 0.5rem;
      margin: 1rem 1rem 1rem 0rem;
      font-size: $text-size;
      &:hover {
        background-color: #00aca1;
      }
    }
    > .dark {
      background-color: rgb(52, 52, 52);
      color: white;
    }
  }
  .news-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 2rem;
    > .trending-headlines {
      width: 500px;
      height: 500px;
      position: sticky;
      top: 70px;
      > h2 {
        font-size: $subheader-size;
        margin-bottom: 1rem;
      }
      > .news-headlines {
        display: flex;
        flex-direction: column;
        font-size: 4rem;
        > a {
          > .headline {
            display: flex;
            margin-bottom: 2rem;
            > h2 {
              margin-right: 0.5rem;
            }
          }
        }
      }
    }
    > .articles-container {
      columns: 2;
      word-break: break-all;
      width: 85%;
      > a {
        > .news-card {
          box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
            rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
          border-radius: 25px;
          width: 90%;
          margin: 0rem 2rem 2rem 0rem;
          break-inside: avoid-column;
          margin-bottom: 20px;

          > * {
            padding: 1rem;
          }
          > .space-between {
            display: flex;
            justify-content: space-between;
            font-size: $subheader-size;
          }
          > img {
            width: 100%;
            height: 200px;
            object-fit: cover;
            padding: 0rem;
            border-radius: 25px 25px 0px 0px;
            margin-bottom: 10px;
          }
          > h2 {
            font-size: $subheader-size;
          }
          > p {
            font-size: $text-size;
            span {
              > p {
                font-size: 2rem;
                background: -webkit-linear-gradient(
                  10deg,
                  #4dfecc,
                  #bd53ee,
                  #fcb045
                );
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                margin: 1rem 0rem 1rem 0rem;
              }
            }
            // margin-bottom: 1rem;
          }
        }
      }
    }
  }
}
h2 {
  // font-size: 3rem;
}
// img {
//   width: 50px;
//   height: 50px;
// }

.skeleton-article-container {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  border-radius: 25px;
  width: 350px;
  height: 475px;
  background-color: white;
  margin: 0rem 2rem 2rem 0rem;
  > * {
    padding: 1rem;
    margin: 1rem;
    background-color: rgb(175, 175, 175);
    animation: skeletonOpacity 2s ease-in-out infinite;
  }
  > .skeleton-img {
    width: 100%;
    height: 150px;
    padding: 0rem;
    border-radius: 25px 25px 0px 0px;
    margin: 0px 0px 3rem 0px;
  }
  > .skeleton-headline {
    width: 90%;
    height: 25px;
  }
  > .skeleton-headline2 {
    width: 80%;
    height: 25px;
  }
  > .skeleton-name-date-container {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 0rem 1.5rem 0rem;
    background-color: transparent;
    > .skeleton-name {
      width: 20%;
      height: 15px;
      background-color: rgb(175, 175, 175);
    }
    > .skeleton-date {
      width: 20%;
      height: 15px;
      margin-right: 1.5rem;
      background-color: rgb(175, 175, 175);
    }
  }
  > .skeleton-text {
    width: 90%;
    height: 15px;
  }
  > .skeleton-link {
    margin-top: 2rem;
    width: 30%;
    height: 15px;
  }
}

.dark {
  background-color: $dark-color;
  color: white;
}

@keyframes skeletonOpacity {
  0% {
    opacity: 50%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 50%;
  }
}
