@import "./variablemixin";
@import "./reset";

body {
  width: 100%;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  > * {
    padding: 1rem 3rem 1rem 3rem;
  }
}

h2,
h3,
h4,
a,
p {
  font-family: $main-font;
}
.section-header {
  font-family: $main-font;
  font-size: $text-size;
}

.header {
  @include flex(row, space-between, center);
  top: 0;
  position: sticky;
  z-index: 999;
  font-family: $header-font;
  font-size: $header-size;
  background-color: rgb(255, 255, 255);
  h1 {
    color: $green;
    letter-spacing: $Xsmall;
  }
  > .search-darkmode {
    @include flex(row, center, center);
    gap: $medium;
    > img {
      cursor: pointer;
    }
    > form {
      border-radius: 12px;
      box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
        rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
      @include flex(row, center, center);
      min-height: 30px;
      gap: $small;
      > input {
        width: 60px;
        font-family: poppins, sans-serif;
        font-size: 16px;
        padding: $Xsmall;
      }
      > input:focus {
        width: 300px;
      }
      > img {
        margin-left: $small;
      }
    }
  }
}

.weather-section {
  @include flex(column, center, center);
  gap: $medium;
  > h2 {
    align-self: flex-start;
  }
  .weather-container {
    @include flex(row, center, center);
    flex-wrap: wrap;
    font-family: $main-font;
    > .weather-card-container {
      @include flex(column, center, center);
      width: 12.5rem;
      height: 7.5rem;
      border-radius: 25px;
      background-color: rgb(255, 255, 255);
      background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)),
        linear-gradient(90deg, #4dfecc, #bd53ee, #fcb045);
      background-origin: border-box;
      background-clip: content-box, border-box;
      border: double 1px transparent;
      padding: 0.1rem;
      margin: $small;
      > .card-info {
        font-size: $small;
        font-weight: 400;
      }
      > .card-row {
        @include flex(row, space-around, center);
        width: 100%;
        > .temperature {
          font-size: $medium;
        }
        > .card-img {
          height: 30px;
          width: 30px;
        }
      }
    }
    > .dark {
      background-color: $dark-color;
      background-image: linear-gradient($dark-color, $dark-color),
        linear-gradient(90deg, #4dfecc, #bd53ee, #fcb045);
      background-origin: border-box;
      background-clip: content-box, border-box;
      border: double 1px transparent;
      color: white;
    }
  }
}

.news-wrapper {
  @include flex(column, flex-start, flex-start);
  gap: $medium;
  .news-container {
    @include flex(row, flex-start, flex-start);
    gap: $large;
    > .trending-headlines {
      @include flex(column, flex-start, flex-start);
      position: sticky;
      top: 70px;
      gap: $small;
      width: 50%;
      > h2 {
        font-size: $subheader-size;
      }
      > .news-headlines {
        @include flex(column, center, flex-start);
        font-size: 4.5rem;
        gap: $medium;
        > a {
          > .headline {
            > h2 {
              > img {
                margin-left: $Xsmall;
              }
            }
          }
        }
      }
    }
    > .articles-container {
      @include flex(row, flex-start, flex-start);
      flex-wrap: wrap;
      gap: $medium;
      width: 85%;
      > a {
        @include flex(column, flex-start, space-between);
        width: calc(50% - $medium);
        min-width: 300px;
        flex-grow: 1;
        box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
          rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
        border-radius: 25px;
        > .news-card {
          @include flex(column, flex-start, space-between);
          gap: $medium;
          flex-grow: 1;
          break-inside: avoid-column;
          > * {
            padding: 0 $medium 0 $medium;
          }
          > img {
            width: 100%;
            height: 200px;
            object-fit: cover;
            padding: 0rem;
            border-radius: 25px 25px 0px 0px;
          }
          > h2 {
            font-size: $subheader-size;
          }
          > .space-between {
            display: flex;
            justify-content: space-between;
            font-size: $subheader-size;
          }
          > div {
            > p {
              font-size: $text-size;
            }
          }
        }
        span {
          padding: 0 $medium 0 $medium;
          > p {
            font-size: 2rem;
            background: -webkit-linear-gradient(
              10deg,
              #4dfecc,
              #bd53ee,
              #fcb045
            );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin: $small 0rem $small 0rem;
            > img {
              margin-left: $small;
            }
          }
        }
      }
      > .reached-end {
        margin-top: 5rem;
        font-size: $subheader-size;
      }
    }
  }
}

.news-nav {
  background-color: white;
  align-self: flex-start;
  z-index: 1;
  > a {
    color: black;
    border-radius: 7.5px;
    padding: 0.5rem;
    margin: $small $small $small 0rem;
    font-size: $text-size;
    &:hover {
      background-color: #00aca1;
    }
  }
  > .dark {
    background-color: rgb(52, 52, 52);
    color: white;
  }
}

.skeleton-weather-card-container {
  width: 12.5rem;
  height: 7.5rem;
  border-radius: 25px;
  @include flex(column, center, center);
  background-color: white;
  border: 2px solid $skeleton;
  margin: 1rem;
  > * {
    padding: 0.25rem;
    animation: skeletonOpacity 2s ease-in-out infinite;
  }
  > .card-skeleton-info {
    width: 75px;
    height: 10px;
    background-color: $skeleton;
  }
  > .card-row {
    display: flex;
    > .temperature-skeleton {
      width: 35px;
      height: 10px;
      background-color: $skeleton;
      margin: 10px 10px 0px 0px;
    }
    > .img-skeleton {
      width: 30px;
      height: 30px;
      background-color: $skeleton;
      margin: 5px 0px 5px 0px;
    }
  }
}

.skeleton-article-container {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  border-radius: 25px;
  width: 300px;
  height: 475px;
  flex-grow: 1;
  background-color: white;
  margin: 0rem 2rem 2rem 0rem;
  > * {
    padding: 1rem;
    margin: 1rem;
    background-color: rgb(175, 175, 175);
    animation: skeletonOpacity 2s ease-in-out infinite;
  }
  > .skeleton-img {
    width: 100%;
    height: 150px;
    padding: 0rem;
    border-radius: 25px 25px 0px 0px;
    margin: 0px 0px 3rem 0px;
  }
  > .skeleton-headline {
    width: 90%;
    height: 25px;
  }
  > .skeleton-headline2 {
    width: 80%;
    height: 25px;
  }
  > .skeleton-name-date-container {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 0rem 1.5rem 0rem;
    background-color: transparent;
    > .skeleton-name {
      width: 20%;
      height: 15px;
      background-color: rgb(175, 175, 175);
    }
    > .skeleton-date {
      width: 20%;
      height: 15px;
      margin-right: 1.5rem;
      background-color: rgb(175, 175, 175);
    }
  }
  > .skeleton-text {
    width: 90%;
    height: 15px;
  }
  > .skeleton-link {
    margin-top: 2rem;
    width: 30%;
    height: 15px;
  }
}

.headline-skeleton {
  width: 200px;
  height: 20px;
  background-color: rgb(175, 175, 175);
  animation: skeletonOpacity 2s ease-in-out infinite;
  margin-bottom: 20px;
  border-radius: 12px;
}

.error-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  > h2,
  pre,
  h3 {
    font-size: $subheader-size;
    padding: 1rem;
  }
}

.dark {
  background-color: $dark-color;
  color: white;
}
.dark::placeholder {
  color: white;
}

@keyframes skeletonOpacity {
  0% {
    opacity: 50%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 50%;
  }
}

@media screen and (max-width: 821px) {
  .trending-headlines {
    display: none !important;
  }
  .weather-card-container {
    width: 10rem !important;
    height: 7rem !important;
  }
  .temperature {
    font-size: 1.5rem !important;
  }
  .articles-container {
    columns: 1 !important;
  }
  .news-nav {
    > a {
      margin: 1rem 0.25rem 1rem 0rem;
    }
  }
}

@media screen and (max-width: 600px) {
  input:focus {
    width: 175px;
  }
  .news-nav {
    width: 110%;
    margin-left: -5px;
  }
  .skeleton-article-container {
    width: 90%;
    height: 100%;
  }
}

@media screen and (max-width: 480px) {
  input:focus {
    width: 275px !important;
  }
  .news-container {
    display: block !important;

    > .articles-container {
      width: 100% !important;
      > a {
        .news-card {
          width: 100% !important;
        }
      }
    }
  }

  .news-nav {
    position: sticky;
    top: 48px;
    height: 50px;
    width: 105%;
    display: flex;
  }
}
